.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
}

.noItemsText {
  font-size: 20px;
  text-align: center;
}

.image {
  width: 30%;
}

.message {
  padding-top: 10px;
  width: 426px;
}
